{% extends 'base.html.twig' %}
{% block pageTitle %}Login Page{% endblock %}
{% block body %}
    <h1>Welcome to ADMIN home page</h1>

    <p>
        Welcome to the <strong>secure</strong> admin home page
    </p>
{% endblock %}